@import url(https://use.fontawesome.com/releases/v5.15.0/css/all.css);
@import url(https://use.fontawesome.com/releases/v5.15.0/css/v4-shims.css);

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #7b1fa2;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* estilo do caminho do scroll */
::-webkit-scrollbar-track {
  background-image: url(https://wallpaperaccess.com/full/2637581.jpg);
  background-color: #eb5441;
}

/* estilo dentro da barra do scroll */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-image: url(https://wallpapercave.com/wp/wp4892382.jpg);
}
/* tamanho do scroll */
::-webkit-scrollbar {
  width: 12px;
}
